.slave-nodes
  &__wrapper
    display: flex
    flex-direction: column
    background-color: #fff
    border-radius: 10px
    margin: 10px
    min-height: 200px
.row
  &__wrapper
    display: flex
    flex-direction: row
    padding-top: 10px
    &--th
      font-weight: bold
      opacity: .6
  &__col
    padding-left: 15px
    padding-right: 5px
    align-items: center
    display: flex
    &--title
      width: 200px
    &--ip
      width: 150px
    &--status
      width: 80px
    &--actions
      width: 50px
.status
  width: 10px
  height: 10px
  border-radius: 20px
  &--alive
    background-color: aquamarine
  &--dead
    background-color: crimson
  &--unknown
    background-color: rgba(0, 0, 0, .2)
.button
  cursor: pointer
  margin-left: 10px
  color: #ffffff
  background-color: #57328a
  border-radius: 30px
  font-weight: 500
  padding-left: 24px
  padding-right: 24px
  height: 35px
  font-size: 17px
.loader
  width: 50px
  height: 50px
  padding: 50px
  align-self: center

.journal
  &__wrapper
    display: flex
    flex-direction: column
    background-color: #fff
    border-radius: 10px
    margin: 10px
    max-height: 200px
    min-height: 200px
    overflow-y: scroll
    padding-top: 10px
    padding-bottom: 10px
  &__record
    padding-left: 15px
